.logo {
  width: 100%;
  display: flex;
  justify-content: center
}
.outerBox {
  width:100%;
  margin-top: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.detailsBox {
  width:100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detailsInfo {
  width:50%;
  margin-top: 5px;
  display: flex;
  justify-content: center;
}
.imgContainer {
  display: flex;
  justify-content: center;
  width: 260px;
  height: 260px;
  flex-wrap: wrap
}
.itemImg {
  border: 2px solid black;
  width: 80%;
  height: 80%;
}
.itemHighlight {
  display: flex;
  justify-content: center;
  width: 260px;
  cursor: pointer;
  height: width;
  flex-wrap: wrap
}
h3 {
  font-family: Tahoma;
  cursor: pointer;
}
h2 {
  font-family: Tahoma;
  color: #49b0ff;
  cursor: pointer;
}
h2:hover {
  font-family: Tahoma;
  color: #245983;
  cursor: pointer;
}
.detTable {
  background-color: #d2e6fb;
  margin: 12px;
  width: 84%;
  left: -8%;
  border: 2px solid black;
  padding: 2px;
}
.detCell {
  padding: 2px;
  background-color: #e6f2ff;
  text-align: right;
  font-style: italic;
}
.detHead {
  padding: 3px;
  background-color: #acd5ff;
  border: 1px solid black;
  text-align: center;
  width: 150px;
  font-weight: bold;
  font-family: Tahoma;
}
.refreshImg {
  cursor: pointer;
  margin-left: 10px;
  width: 30px;
  height: 30px;
}
